$color: ( "prime": #2C8E99, "sec" : #232323);


body{
    background-color: map-get($map: $color, $key: "sec");
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
#navbar{
    background-color:map-get($map: $color, $key: "prime");
}
#type{
     background-color:white;
     width: 100%;
     height: 1.5rem;
}

button {
	outline: none;
	color: #2C8E99;
	font-family: "Raleway", Sans-serif;
	text-transform: uppercase;
	font-size: 0.9rem;
	background-color: white;
    height: 100%;   
    border: 0;
 
}

button:hover {
	background-color: #2C8E99;
    color: white;
    border: 0;
    transition: all 1s ease;
}
#type-txt{
    color: map-get($map: $color, $key: "prime");
    margin: 0 auto;
    width: 33vw;
}
#left{
    float: left;
}
#right1{
    float: right;
    margin: 0vw 2vw;
}   
#right2{
    float: right;
}
#main
{
    margin: 0 auto;
    width: 33vw;
    height: 22vw;
    margin-top: 1.5vw;

} 
.square
{
    width: 10vw;
    height: 10vw;
    margin: 0.5vw;
    background-color: #fff;
    float:left;
    border-radius: 2vw;
}
.square:hover {
    box-shadow: 0 12px 16px 0 rgb(226, 211, 211), 0 17px 50px 0 rgba(255,255,255);
  }











.textblock{
    font-size: 1rem;
}
@media (max-width: 575.98px) {  }